body {
  font-family: "Roboto Slab", serif;
  color: #3A4145;
}

.blog-logo img {
    height: 30px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.main-header {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) no-repeat center center;
    background-size: cover;
    margin-bottom: 0;
}

.index.main-header {
    background: transparent no-repeat center center;
    background-size: cover;
}

.page-title {
  letter-spacing: normal;
  font-size: 5.5rem;
  color: #fff;
  margin: 25px 0;
  font-family: 'Roboto', sans-serif !important;
}

.nav .nav-current a:after {

border-bottom: 0; 

}

.page-description {
  margin: 0;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.01rem;
  color: #eee;
}

.index.post {
    background: #0588ca;
    padding: 4rem;
    margin: 0;
    border-bottom: 0;
    background-position: center center !important;
    flex-grow: 1;
    width: initial;
    max-width: initial;
    min-height: 250px;
    min-width: 200px;
    margin: .5%;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);

    display: flex;
        flex-direction: column;
        align-items: flex-start;
}

.index.post  h2 {
  color: #fff !important;
  text-transform: uppercase;
  max-width: 500px;
  font-family: 'Roboto', sans-serif;
}

.index.post::after {
    display: none;
}

a:focus {
  outline: none;
}

.post-excerpt p {
    color: #fff;
}

.index .post a, a:hover {
    color: #fff;
}

.index .post a:hover {
    text-decoration: none;
    border-bottom: solid #fff 1px;
}

.index .post-date {
    color: #fff;
}

.index .post-meta {
    color: #fff;
    margin-bottom: 5px;
    font-family: 'Roboto Slab', serif;
}

.post {
    padding-top: 5rem;
}

.index.content {
    background: transparent;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ecf0f1;
}

.content {
    background: #fff;
}

.sub .post-title {
    color:#0588ca;
}

.sub .post a, a:hover {
  color: inherit;
}

.sub .post-meta {
    color:#0588ca;
}

.social-likes {
    margin: 10px 0 !important;
}

.no-cover.post-head.main-header {
  height: 50px;
  min-height: 0;
  margin-bottom: 0;
  background: #0083BF;
}

.no-cover.post-head.main-header > .main-nav {
    margin: 0;
}

.tag-list {
    margin: 20px 0;
    list-style: none;
    padding: 0;
}

.tag-list > li {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    zoom: 1;
    border-radius: 3px;
    display: inline-block;
    min-width: 170px;
    text-align: center;
    margin: 20px;
    border: solid 1px #fff;
    padding: 5px;
    font-size: 16px;
}

.tag-list > li, .tag-list > a {
  transition: all 0.3s ease;
}

.tag-list > li:hover, .tag-list > a:hover {
  color: #fff;
}

.tag-list > li > a {
  color: inherit !important;
  text-decoration: none;
}

.section-header {
    width: 97%;
    max-width: 800px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}

li.cat1{
    background: #EE7623;
}

.cat1 h3 {
  color: #EE7623;
}

.cat1 .post {
    background: #EE7623;
}

li.cat2{
    background: #0083BF;
}

.cat2 h3 {
  color: #0083BF;
}

.cat2 .post {
    background: #0083BF;
}

li.cat3{
    background: #4C9E45;
}

.cat3 h3 {
  color: #4C9E45;
}

.cat3 .post {
    background: #4C9E45;
}

li.cat4{
    background: #8e44ad;
}

.cat4 h3 {
  color: #8e44ad;
}

.cat4 .post {
    background: #8e44ad;
}

li.cat5{
    background: #808285;
}

.cat5 h3 {
  color: #808285;
}

.cat5 .post {
    background: #808285;
}

.cat {
  margin-bottom: 100px;
}

.nav li:before {
    display: none;
}

.post-content img {
    max-width: 100%;
}

.post-head.main-header {
    background-position: top center;
}

.pagination {
  margin: 0 auto;
  padding: 20px 0;
}

.footer {
      margin: 0;
}

.site-footer {
  font-size: 1.4rem;
  margin: 0;
}

.poweredby {
  color: #555;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.site-footer a {
    color: #2ecc71;
}

.tagpost {
    position: relative;
    width: 80%;
    max-width: 710px !important;
    margin: 4rem auto !important;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-wrap: break-word;
        display: block;
    flex-direction: initial;
    align-items: initial;
    min-height: initial !important;
    min-width: initial;
}

.topic-header {
      padding: 30px 10px;
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      font-size: 3rem;
      text-transform: uppercase;
      text-align: center;
      background-color: #ecf0f1;
  }

  .post-side-nav {
    position: fixed;
    background-color: #fff;
    top: 50%;
    right: 0;
    list-style: none;
    text-align: center;
    padding: 10px;
    border: solid 1px #0083BF;
    border-right: 0;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .post-side-nav > li {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 15px;
  }

  .post-side-nav > li > a {
    color: #0083BF !important;
    font-size: 28px;
    text-decoration: none !important;
  }

  .nav-closed .menu-button {
      border: 0;
  }

  .main-nav a {
      font-family: 'Roboto', sans-serif;
  }
  .menu-button:hover {
      background: transparent;
      color: #fff;
  }
  .nav-closed .menu-button:hover {
      color: #fff;
  }

  .nav-closed .no-cover .menu-button {
      color: #fff;
  }
  .nav-closed .no-cover .menu-button:hover {
      color: #fff;
  }
  .nav-opened .menu-button {
      /*padding: 0 12px;*/
      background: #111;
      border: 0;
      /*color: #fff;
      -webkit-transform: translate3D(94px, 0, 0);
      -ms-transform: translate3D(94px, 0, 0);
      transform: translate3D(94px, 0, 0);
      transition: all 0.3s ease;*/
  }

  .nav li {
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      text-transform: uppercase;
  }
.nav-title {
  font-weight: 400;
}

.post-meta {
    font-family: "Roboto Slab", sans-serif;
}

a.at-svc-facebook {
    background: #0588ca !important;
}
a.at-svc-linkedin, a.at-svc-startaid {
    background: #0588ca !important;
}
a.at-svc-lidar, a.at-svc-twitter, a.at-svc-yammer {
    background: #0588ca !important;
}
a.at-svc-google_plusone, a.at-svc-google_plusone_share {
    background: #0588ca !important;
}
div#at4-share:before {
    content: 'Share';
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    text-align: center;
    width: 100%;
    display: block;
    color: #0588ca;
    line-height: 2;
}
.home-template .main-header:after {
    height: 100px;
}
.header-poweredby {
  position: absolute;
  bottom: 0;
  right: 10px;
}
.header-poweredby > a {
  color: #bbb !important;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  opacity: 0.8;
}
