body {
  font-family: "Bitter", serif;
  color: #3A4145;
}

.blog-logo img {
    height: 30px;
}

.main-header {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) no-repeat center center;
    background-size: cover;
    margin-bottom: 0;
}

.index.main-header {
    background: transparent no-repeat center center;
    background-size: cover;
}

.page-title {
  letter-spacing: normal;
  font-size: 5.5rem;
  color: #FFC107;
}

.nav .nav-current a:after {

border-bottom: 0; 

}

.page-description {
  margin: 0;
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Bitter", serif;
  letter-spacing: 0.01rem;
  color: #ecf0f1;
}

.index.post {
    background: #0083BF;
    padding: 4rem;
    margin: 0;
    border-bottom: 0;
    background-position: center center !important;
    flex-grow: 1;
    width: initial;
    max-width: initial;
    min-height: 250px;
    min-width: 200px;
    margin: .5%;
    text-decoration: none;
    color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);

    display: flex;
        flex-direction: column;
        align-items: flex-start;
}

.index.post  h2 {
  color: #fff !important;
  text-transform: uppercase;
  max-width: 500px;
}

.index.post::after {
    display: none;
}

a:focus {
  outline: none;
}

.post-excerpt p {
    color: #fff;
}

.index .post a, a:hover {
    color: #fff;
}

.index .post a:hover {
    text-decoration: none;
    border-bottom: solid #fff 1px;
}

.index .post-date {
    color: #fff;
}

.index .post-meta {
    color: #fff;
    margin-bottom: 5px;

}

.post {
    padding-top: 5rem;
}

.index.content {
    background: transparent;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ecf0f1;
}

.content {
    background: #fff;
}

.sub .post-title {
    color: #0083BF;
}

.sub .post a, a:hover {
  color: inherit;
}

.sub .post-meta {
    color: #FF6D00;
}

.social-likes {
    margin: 10px 0 !important;
}

.no-cover.post-head.main-header {
  height: 50px;
  min-height: 0;
  margin-bottom: 0;
  background: #0083BF;
}

.no-cover.post-head.main-header > .main-nav {
    margin: 0;
}

.tag-list {
    margin: 20px 0;
    list-style: none;
    padding: 0;
}

.tag-list > li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    zoom: 1;
    border-radius: 3px;
    display: inline-block;
    min-width: 170px;
    text-align: center;
    margin: 20px;
}

.tag-list > li, .tag-list > a {
  transition: all 0.3s ease;
}

.tag-list > li:hover, .tag-list > a:hover {
  color: #fff;
}

.tag-list > li > a {
  color: inherit !important;
  text-decoration: none;
}

.section-header {
    width: 97%;
    max-width: 800px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
}

li.cat1{
    background: #EE7623;
}

.cat1 h3 {
  color: #EE7623;
}

.cat1 .post {
    background: #EE7623;
}

li.cat2{
    background: #0083BF;
}

.cat2 h3 {
  color: #0083BF;
}

.cat2 .post {
    background: #0083BF;
}

li.cat3{
    background: #4C9E45;
}

.cat3 h3 {
  color: #4C9E45;
}

.cat3 .post {
    background: #4C9E45;
}

li.cat4{
    background: #8e44ad;
}

.cat4 h3 {
  color: #8e44ad;
}

.cat4 .post {
    background: #8e44ad;
}

li.cat5{
    background: #808285;
}

.cat5 h3 {
  color: #808285;
}

.cat5 .post {
    background: #808285;
}

.cat {
  margin-bottom: 100px;
}

.nav li:before {
    display: none;
}

.post-content img {
    max-width: 100%;
}

.post-head.main-header {
    background-position: top center;
}

.pagination {
  margin: 0 auto;
  padding: 20px 0;
}

.footer {
      margin: 0;
}

.site-footer {
  font-size: 1.4rem;
  margin: 0;
}

.poweredby {
  color: #555;
}

.site-footer a {
    color: #2ecc71;
}

.tagpost {
    position: relative;
    width: 80%;
    max-width: 710px !important;
    margin: 4rem auto !important;
    padding-bottom: 4rem;
    border-bottom: #EBF2F6 1px solid;
    word-wrap: break-word;
        display: block;
    flex-direction: initial;
    align-items: initial;
    min-height: initial !important;
    min-width: initial;
}

.topic-header {
      padding: 30px 10px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size: 3rem;
      text-transform: uppercase;
      text-align: center;
      background-color: #ecf0f1;
  }

  .post-side-nav {
    position: fixed;
    background-color: #fff;
    top: 50%;
    right: 0;
    list-style: none;
    text-align: center;
    padding: 10px;
    border: solid 1px #0083BF;
    border-right: 0;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .post-side-nav > li {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding: 15px;
  }

  .post-side-nav > li > a {
    color: #0083BF !important;
    font-size: 28px;
    text-decoration: none !important;
  }